.parse-row {
    width: 70%;
    gap: 30px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.application-container {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px 30px;
    gap: 30px;
}

.text-input-container {
    width: auto;
}